$logo-colour:#3264A3;
$title-colour:#224F86;

html *{
    font-family: 'Archivo',sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/*Main Header */
.logo-colour{
    color: $logo-colour;
}

/*Sub Header */
.section-header{
    min-height: 240px;
    width: 100vw;
    background: rgb(50,100,163);
    overflow: hidden;
    position: relative;
    text-align: center;
    color:white;
}
.yellow-modern{
    object-fit: cover;
    opacity:0.4;
}
.yellow-modern-text{
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: bold;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.know-more-btn{
    color: #3264A3;
    text-align: center;
    font-size: 16px;
    background: #FFFFFF;
    border-radius: 32px;
    padding: 10px 20px;
}

/*Value */
.value-text{
    color: $title-colour;
}

.affordable-text{
    color: $title-colour;
}

.services-btn{
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    padding: 10px 30px;
    background: #3264A3;
    border-radius: 32px;
}

/*Testimonials*/

.testimonials{
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.testimonial-title{
    color: $title-colour;
}

.testimonials .owl-carousel{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testimonials .client-testimony{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-self: center;
}

.testimonials .client-testimony-text{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-self: center;
    max-width: 50%;
    color: black;
    font-size: 25px;
    text-align: center;
}

.testimonials .client-name{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-self: center;
    color: $title-colour;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.testimonials .client-pos-location{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-self: center;
    color: black;
    font-size: 25px;
    text-align: center;
}

hr.home-divide{
    width: 80%;
    border: 1.5px solid #224F86;
}

.home-divide-two{
    width: 85%;
    border: 1.5px solid #224F86;
}


/*Blog */

.blog-container{
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.blog-shell{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 400px;
}
.blog-container .blog-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 320px;
    height: 320px;
}
.blog-container .blog-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    max-width: 300px;
}

/*Footer*/

.footer-container{
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
.footer-shell{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 50%;
    //width: 400px;
}

.footer-container .footer-message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 80%;
    font-size: 39px;
    text-align: left;
    font-weight: bold;
    color:$title-colour;
    //width: 300px;
}
.footer-container .send-message-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 60%;
    padding: 30px 70px;
    border-radius: 7px;
    background-color: #224F86;
    color: white;
    text-align: left;
    font-size: 20px;
    position: relative;
    font-weight: normal;
    //width:300px
}

.box-text{
    position: absolute;
    left: 30px;
}
.box-arrow{
    position: absolute;
    right: 30px;
}

.footer-container .social-media-icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
}

.nav-colour{
    color: #224F86;
}



